<%- include('header'); -%>
<link href="css/dd.css" rel="stylesheet">

<style>
    .loading {
        width: 100%;
        display: flex;
        align-items: center;
        height: 250px;
        justify-content: center;
    }

    .loading i {
        font-size: 40px;
        color: #ffcc00;
    }

    div#hideDiv {
        position: inherit;
        width: 100px;
    }
</style>



<body class="fix-header">
    <div id="wrapper">

        <%- include('menu'); -%>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Assosication</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box" style="justify-content: center;">

                            <div class="table-responsive" id="demo">
                                <div id="hideDiv" style="display: block">
                                    <div class="loading">
                                        <i class="fa fa-spin fa-cog"></i>
                                    </div>
                                </div>

                                <div class="result_mas dis_blk" id="showDiv" style="display: none">
                                    <div class="dd result dd-source1" id="nestable3">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2019 &copy; DPDHL iot.dhl.com </footer>
        </div>
    </div>

</body>

<%- include('footer'); -%>
<script src="js/datajs/drag_drop.js"></script>
<script src="js/datajs/jquery.nestable.js"></script>

<script>

    $(function () {
        $('.btn1').popover({
            container: "body",
            html: true,
            content: function () {
                return '<div class="popover-message"><div><i class="fa fa-plus"></i></div><div><i class="fa fa-edit"></i></div><div><i class="fa fa-trash-o"></i></div></div>';
            }
        });


    });


</script>

</html>